<% if errors.present? %>
  <div class="alert alert-danger">
    <ul>
      <% errors.each do |attribute, messages| %>
        <% Array(messages).each do |message| %>
          <li><strong><%= attribute.to_s.humanize %></strong>: <%= message %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
