<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <span class="icon"><i class="mdi mdi-book-open-variant-outline"></i></span>
      <%= t('views.ebooks.form_header.annotation') %>
    </p>
  </header>
  <div class="card-content">
    <div class="field">
      <%= f.label :annotation, class: "label required" %>
      <div class="control">
        <%= f.rich_text_area :annotation, class: "textarea", required: true ,
                             placeholder: t('activerecord.attributes.ebook.annotation'), data: { controller: 'trix' } %>
      </div>
    </div>
  </div>
</div>
