<div id="modal-detail" class="modal" data-controller="modal">
  <div class="modal-background" data-action="click->modal#close"></div>
  <div class="modal-card" id="modal-detail-card">

  </div>
</div>
