<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <div id="js-hook"></div>
    <div id="app">
      <% unless @turbo_request %>
        <% if notice.present? %>
          <%= render partial: 'shared/notice', locals: { notice: notice} %>
        <% end %>

        <% if alert.present? %>
          <%= render partial: 'shared/alert', locals: { alert: alert} %>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
